/** @format */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #000; /* 必要に応じて背景色を変更 */
  }
  
  .fullscreen-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  